/* About */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-taozi-container {
  margin-top: 10px;
  background-color: #f7f7f7;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}
.about-taozi-container .about-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.about-taozi-container .case-container {
  width: 45%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.about-taozi-container .case-content {
  width: 100%;
  margin-top: 10px;
}

.about-taozi-container .aboutmain {
  width: 60%;
  padding-top: 15px;
}

.about-taozi-container .aboutmain .content {
  display: flex;
  align-items: center;
}

.about-taozi-container .aboutmain p {
  line-height: 25px;
  color: #696868;
}
