/* 轮播图 样式 */

.carousel-container {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.carousel-container .wrap {
  height: 400px;
  width: 95%;
  overflow: hidden;
  position: relative;
}
.carousel-container .wrap ul {
  position: absolute;
}
.carousel-container .wrap ul li {
  height: 170px;
}
.carousel-container .wrap ul li img {
  width: 100%;
}
.carousel-container .wrap ol {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}
.carousel-container .wrap ol li {
  height: 5px;
  width: 20px;
  background: #ccc;
  margin-left: 5px;
  line-height: center;
  cursor: pointer;
}
.carousel-container .wrap ol .on {
  background: #fff;
}
