body {
  background-color: rgba(72, 131, 63, 0.8);
}
/* 页面 */
header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
header .header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
header .telphone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .telphone img {
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
}

header .telphone .addr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .telphone .addr span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
}
header .header-title {
  font-size: 50px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

/* 导航条 */
nav {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #3a8c8a;
}
nav ul {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
}
nav li:hover {
  background: #1f6260;
}
nav .nav-current {
  background: #1f6260;
}
nav li a {
  font-size: 16px;
  color: #fff;
}

/* 经典案例, 公司简介 */
.about-container {
  margin-top: 10px;
  background-color: #3a8c8a;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.about-container .about-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.about-container .case-container {
  width: 45%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.about-container .case-content {
  width: 100%;
  margin-top: 10px;
}
.case-content ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.case-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: #fff;
}
.case-content ul li a {
  color: #606266;
  font-weight: 500;
  font-size: 20px;
}
.case-content ul li:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #dcdfe6;
}
.about-container .aboutmain {
  width: 45%;
  padding-top: 15px;
}
.about-content .title {
  padding-bottom: 13px;
  background: url(../images/title.gif) center bottom repeat-x;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-container .title a {
  font-size: 13px;
}
.about-container .aboutmain .content .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-container .aboutmain .content {
  display: flex;
  align-items: center;
}
.about-container .content img {
  margin-left: 10px;
}
.about-container .aboutmain span {
  margin-top: 10px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

/* 联系我们 */
.contact-us-container {
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
}

.contact-us-container .contact-content {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.contact-content .title {
  padding-bottom: 13px;
  background: url(../images/title.gif) center bottom repeat-x;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-content .content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #606266;
  font-size: 13px;
}

.contact-content .content .mobile {
  display: flex;
  flex-direction: column;
}

.contact-content .content .mobile ._title {
  color: #e8aa4d;
  font-size: 15px;
  font-weight: bold;
}

.contact-content .content .mobile .tel {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  margin-left: 15px;
  font-style: italic;
  font-weight: bold;
  line-height: 45px;
}

/* 占位 */
.seat-container {
  width: 100%;
  height: 200px;
}
/* 页脚 */
footer {
  width: 100%;
  background: #3a8c8a;
  color: #dddede;
  position: absolute;
}

footer .main {
  width: 1080px;
  margin: 0 auto;
  clear: both;
}

footer .main .bottom-nav {
  width: 100%;
  height: 15px;
  padding: 28px 0;
  line-height: 15px;
  border-bottom: 1px solid #317e7c;
  font-size: 12px;
  text-align: center;
}

.bottom-nav a {
  border-left: 1px solid;
  color: #fff;
  padding: 0 20px;
  font-size: 14px;
}
.main .foot-text {
  text-align: center;
  border-top: 1px solid #45a2a0;
  line-height: 30px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 12px;
}
